body, html {
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main, .container {
  width: 100%;
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.web .main, .web .container {
  max-width: 1200px;
  min-width: 1200px;
  padding: 0 16px;
}

.app .main, .app .container {
  max-width: 100%;
  min-width: 0;
  padding: 0 4px;
}

main {
  background-color: #fff;
  max-width: 1200px;
  width: 100%;
  min-height: 1000px;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: var(--body-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}