.thumbnailContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 3/4;
  border: 1px solid #eee;
  max-width: 320px;
}

.thumbnail {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
} 